header {
    background-color: #f0b46e;
    padding:1em 0;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-style:inherit;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: .8em;
    margin: 0;
}